* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  list-style: none;
  --back: #f7b52f;
  --darkYellow: #f3a42b;
  --orange: #ed8824;
  --b: #232c3d;
  color: var(--b);
}
/* .leaflet-popup-content-wrapper {
    background-color: rgb(255, 233, 250);
  } */

.leaflet-popup-content {
  margin: 0%;
}

.popup h3 {
  border-bottom: 2px solid var(--b);
  margin: 1rem;
}

.popup h1 {
  margin: 1rem;
  margin-top: 0%;
  font-weight: bold;
  font-style: italic;
  font-size: revert;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--b);
}

.popup a {
  color: rebeccapurple;
}

.popup > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding: 5px;
}

.popup p {
  font-size: 14px;
  margin: 0 1px;
  font-weight: bold;
  text-align: center;
}

.popup p span {
  text-align: center;
  background-color: var(--darkYellow);
  color: white;
  display: block;
  padding: 4px 2px;
  border-radius: 10px;
  font-size: 15px;
  font-family: monospace;
  /* white-space: nowrap; */
}

.popup .location {
  width: 100%;
  text-align: center;
  background-color: var(--darkYellow);
  color: white;
  padding: 4px 2px;
  font-size: 16px;
}
.leaflet-popup-tip-container,
.leaflet-popup-close-button {
  display: none;
}
#container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 8fr;
  height: 100vh;
  /* overflow: hidden; */
}
.list-item {
  margin: 0.7rem 0;
  padding: 0.5rem;
  border: 1px solid var(--b);
  border-radius: 10px;
  background-color: white;
}
.list-item h3 {
  font-size: medium;
  color: gray;
}
.list-item div * {
  padding: 4px;
}
/* .list-item div:last-child {
    text-align: right;
  } */
.list-item:hover {
  animation: hover 200ms ease-in-out forwards;
  cursor: pointer;
}
@keyframes hover {
  from {
    background-color: white;
  }
  to {
    background-color: rgb(255, 226, 146);
  }
}
#search {
  padding: 1rem;
  background-color: var(--darkYellow);
}
#search h4 {
  font-weight: bolder;
  margin-bottom: 1rem;
}
#list {
  height: 97%;
  overflow: auto;
}
#listbox {
  height: 86vh;
  padding: 0 1rem;
  background-color: var(--back);
}
::-webkit-scrollbar {
  width: 7px;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 1rem;
}
#filter {
  display: grid;
  grid-template-columns: repeat(3, 5fr) 1fr;
  background-color: #c7c7c7;
  box-shadow: 2px 3px 9px 0px #00000061;
  align-items: center;
  z-index: 400;
}
#bluebox .filter-item:hover {
  transition: 500ms;
  background-color: var(--darkYellow);
  color: var(--b);
}
.active,
#active {
  background-color: var(--orange);
  animation: none;
}
#bluebox .active {
  color: var(--b);
}
/* #filter h2 {
    margin-top: 1rem;
    border-bottom: 2px dotted var(--b);
  } */
#filter h3 {
  font-size: medium;
}
#filter div {
  border-left: 2px solid darkgray;
  padding: 0.5rem;
}
#filter div * {
  margin: 6px;
}
#filter select {
  outline: none;
  width: 90%;
  padding: 8px;
  border: 2px solid #eaeaea;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
  background-color: #eaeaea;
}
#filter-div {
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#filter-div > input {
  display: none;
}
.filter-item {
  cursor: pointer;
  padding: 8px;
  border: 1px solid white;
  border-radius: 5px;
}
#name {
  outline: none;
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  background-color: var(--orange);
}
#name::placeholder {
  color: white;
}
#yearRange {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 3px;
}
#yearRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background-color: var(--orange);
  cursor: pointer;
}
/* #locations {
    outline: none;
    width: 73%;
    padding: 8px;
    border: 2px solid var(--b);
    border-radius: 5px;
    font-family: inherit;
    background-color: inherit;
  } */
#bluebox {
  height: 86vh;
  display: none;
  background-color: var(--b);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#bluebox * {
  color: white;
}
.cca,
.other {
  display: none;
  flex-direction: column;
  justify-content: center;
}
#bluebox h1 {
  text-align: center;
}
#bluebox h3 {
  color: var(--darkYellow);
  margin: 1rem 0;
}
.cca > div,
.other > div {
  height: 50vh;
  width: 50vw;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  overflow: auto;
}
#checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#checkboxes * {
  padding: 2px;
}
#checkboxes label {
  cursor: pointer;
}
#reset {
  cursor: pointer;
  float: right;
}
#done {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: var(--darkYellow);
  border-radius: 4px;
}
#done:hover {
  background-color: var(--orange);
  transition: 1s;
}
/* option:hover {
    background-color: rgb(255, 167, 234);
  } */
.bookmarked {
  background-color: rgb(255, 255, 255);
}
.bookmarked i.fa-bookmark {
  float: right;
}
#details {
  height: 100%;
  width: 25%;
  background-color: var(--back);
  position: absolute;
  top: 0%;
  left: 0%;
  display: none;
  overflow-y: scroll;
}
#close {
  height: 22px;
  width: 24px;
  background-color: var(--b);
  color: white;
  position: fixed;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#schooldetails {
  animation: none;
  cursor: initial;
}
.up * {
  padding: 2px;
}
.up h2 {
  margin-bottom: 2px;
}
.up span {
  margin-left: 5px;
}
.down {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
}
.down ul {
  background-color: rgb(255, 221, 247);
  padding: 0.3rem 1rem;
  margin: 0.1rem;
  border-radius: 3px;
}
.down ul li:first-child {
  color: rgba(0, 68, 87, 0.705);
}
.down ul li:last-child {
  padding: 5px;
  text-transform: capitalize;
}
.extra {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  align-content: center;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}
.extra div {
  margin: 0 10px;
}
.extra i {
  margin: 5px;
  margin-right: 0%;
}
.extra p {
  margin: 2px;
  background-color: rgb(255, 221, 247);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.extra p span {
  padding: 3px;
  display: inline-block;
}
#reviewbox > div div div {
  display: inline;
  font-weight: bold;
  font-size: large;
}

#reviewbox > div div p {
  padding-left: 1rem;
}
#reviewbox > div > div {
  border: 2px dotted black;
  margin: 1rem 0;
  padding-left: 1rem;
}
#map {
  height: 86vh;
  z-index: 10;
}
@media only screen and (max-width: 1530px) {
  .extra {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 940px) {
  #checkboxes {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 780px) {
  .leaflet-popup-content-wrapper {
    transform: scale(0.8);
  }
  .popup > * {
    margin: 0.3rem 1rem !important;
  }
  .popup h1 {
    font-size: medium;
  }
  .popup p,
  .popup p span,
  .popup h3 {
    font-size: small !important;
  }
  #container {
    grid-template-columns: 1fr;
  }
  .cca > div,
  .other > div {
    width: 90vw;
  }
  #filter {
    grid-area: 1/1/2/2;
    grid-template-columns: 1fr 1fr;
  }
  #filter div {
    padding: 0.2rem;
  }
  #filter div * {
    font-size: small;
    margin: 0;
    padding: 1px;
  }
  /* #filter>div *{
      display: inline;
      font-size: small;
      width: 50%;
    } */
  #bluebox {
    grid-area: 2/1/3/2;
  }
  #map {
    grid-area: 2/1/3/2;
    width: 100%;
    height: 45vh;
  }
  #search {
    grid-area: 3/1/4/2;
    padding: 0.1rem 1rem;
  }
  #search * {
    display: inline;
    padding-right: 1rem;
    width: 60%;
  }
  #listbox {
    grid-area: 4/1/5/2;
    height: 40vh;
  }
  #details {
    z-index: 999;
    height: 40%;
    width: 100%;
    top: auto;
    bottom: 0%;
  }
}
